@media only screen and (min-device-width:320px) and (max-device-width:768px) and (orientation: portrait){

    .div-createTask{
        background: white;
        position: relative;
        top: 5.75em;
        min-height: 80vh;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 5px;
        font-size: 1.1em;
        font-weight: 600;
    }

    .ball-state{
        position: absolute;
        left:8em
    }

    .task-name{
        width:6.5em
    }
}
