@media (min-width:320px) and (max-width:768px) {
    .bg-component {
        background: #4399B5
    }

    .logo {
        height: 7em;
        margin-left: 1em;
        margin-top: .5em;
    }

    .h2-name {
        float: right;
        margin-right: 2em;
        color: #E16F2C;
    }

    .p-title-tasks {
        float: right
    }

    .div-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        position: relative;
        bottom: 2em;
    }

    .btn-categories {
        background: #E16F2C;
        border: none;
        padding: 1em;
        color: white;
        border-radius: 5px
    }

    .p-title-tasks {
        position: relative;
        bottom: 4em;
        right: 1em;
    }
}

@media (min-width:1024px) {
    .logo {
        height: 10em;
        margin-left: 4em;
        margin-top: 3em
    }
}