@media (min-width:320px) and (max-width:768px) {
    .bg-component {
        background: #4399B5
    }

    .logo {
        height: 6em !important;
        position: relative;
        right: 1.5em;
        bottom: 1.5em;
        width: 6em !important;
    }

    .h2-name {
        float: right;
        margin-right: 2em;
        color: #E16F2C;
    }

    .p-title-tasks {
        float: right;
        position: relative;
        right: 3.5em;
    }

    .btn-logout {
        border: none;
        background: transparent;
        font-size: 1.1em;
        outline:none !important;
    }

    .btn-categories {
        background: #E16F2C;
        border: none;
        padding: 1em;
        color: white;
        border-radius: 5px
    }

    .dashboard {
        background: white
    }

}

@media (min-width:1024px) {
    .logo {
        height: 10em;
        margin-left: 4em;
        margin-top: 3em
    }
}