@media (min-width:320px)  and (max-width:768px){
    .background-home{
        background:orange;
        height:100vh;
        width: 100vw;
    }
}

@media (min-width:1024px) {
    .background-home{
        background:orange;
        height:100vh
    }
}